/* Register Login */

.bg-light-pink {
  background-color: #FBDFDF;
}

.size-img {
  height: 25vh;
  margin-top: -20px;
}

.bottom {
  border-style: hidden;
  border-radius: 0;
  border-bottom: 1px solid #979797;
}

.btn-pink {
  background-color: #F25F5F;
}

.btn-pink:hover {
  background-color: #c75050;
}

.text-rbga {
  color: rgba(0, 0, 0, 0.42);
}

.text-pink {
  color: #F25F5F
}

.text-pink:hover {
  color: #c75050
}

.logo-header {
  height: 50px;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

.bg-gray {
  background-color: #F1F1F1;
  padding-left: 0px;
  padding-right: 0px;
}

.btn-save-comment, .img-save {
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.btn-cancel-comment, .img-cancel {
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.img-edit {
  width: 20px;
  height: 20px;
}

/*UserInfo*/

.img {
  width: 100px;
  height: 100px;
}

.img-user {
  height: 60px !important;
  width: 60px !important;
}

.m-img {
  margin-top: -20px;
}

.no-resize {
  resize: none;
}

.btn-light-pink {
  color: #F25F5F
}

.btn-light-pink:hover {
  color: #ffffff;
  background-color: #F25F5F;
}

@media (min-width: 768px) {
  .fixed-md-none {
    position: initial;
    margin-top: -30px !important;
  }
  /* .p-md-3 */
}