/*
.btn-save-comment, .btn-cancel-comment {
  width: 28px; 
  height: 30px;
  background-color: rgba(218, 199, 182, 0);
  border: none;
}

.text-welcome{
  font-size: 16px;
} */
*{
  margin: 0px;
  padding: 0px;
} 
.logo-header{
  width: 70px;
  height: 50px;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
.nav-color{
  color: #ffff;
}
.bg-gray{
  background-color:#F1F1F1;
  padding-left: 0px;
  padding-right: 0px;
}
.logo-welcome{
  max-width: 200px;
  max-height: 200px;
  margin-top: -20px;
}
.btn-ts{
  background-color: #F25F5F ;
  color: #FFFF;
  font-size: 16px;
  border-radius: 15px;
}
.btn-bs{
  background-color: #6D594F;
  color: #FFFF;
  font-size: 16px;
  border-radius: 15px;
}
.img-welcome{
  /* margin-top: -50px; */
  position: fixed;
  bottom: -15px;
  
}
.btn-save-comment, .img-save {
  border:none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.btn-cancel-comment, .img-cancel {
  border:none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
/*UserInfo*/
.img-coverPage{
  width: 200px;
  height: 200px;
}
.img {
 width: 100px;
 height: 100px;
}