/* Register Login */

.bottom {
  border-style: hidden;
  border-radius: 0;
  border-bottom: 1px solid #979797;
}

.btn-pink {
  background-color: #F25F5F;
}

.btn-pink:hover {
  background-color: #c75050;
}

.text-rbga {
  color: rgba(0, 0, 0, 0.42);
}

.text-pink {
  color: #F25F5F
}

.text-pink:hover {
  color: #c75050
}